.categorySelect {
  position: relative;
  display: flex;
  align-items: center;

  width: 280px;
  height: 44px;
  padding: 0 20px;
  border: 2px solid #fff;
  border-top: 0;
  border-bottom-right-radius: 22px;
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.arrowList {
  position: absolute;
  right: 20px;
}
.categorySelect:focus {
  outline: none;
  border-color: white;
}
.selectedOption {
  padding: 0;
  background-color: transparent;
  color: #52555f;
}

.selectedOption::placeholder {
  padding: 0;
  background-color: transparent;
  color: #c7ccdc;
}

.categoryList {
  list-style: none;
  width: 280px;
  padding: 0;
  margin: 0;

  position: absolute;
  top: 42px;
  left: -2px;
  z-index: 1111;

  border: 2px solid white;
  box-shadow: 0 3px 4px 0 rgba(170, 178, 197, 0.4);
}
.categoryOption {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #4a4a4a;

  padding: 13px 20px;
  background-color: #ffffff;
}
.categoryOption:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

/* ======================== TABLET ===================================== */

@media screen and (min-width: 768px) {
  .categorySelect {
    margin-left: -2px;
    border: 2px solid #f5f6fb;
    width: 169px;
    border-radius: 0;
  }
  .categoryList {
    width: 186px;
    border-color: var(--light-grey);
  }
}
