/* ======================== MOBILE ===================================== */
.list {
  display: none;
}

/* ======================== TABLET ===================================== */
@media screen and (min-width: 768px) {
  .inputBox {
    display: flex;
    margin: auto;
    flex-direction: row;
    width: 624px;
    height: 44px;
  }

  .list {
    list-style-type: none;
    display: inline;
  }

  .listItem {
    display: inline;
  }

  .productDescription {
    border: 2px solid #f5f6fb;
    width: 186px;
    height: 44px;
  }
  .productCategory {
    border: 2px solid #f5f6fb;
    width: 186px;
    height: 44px;
  }

  .productValue {
    border: 2px solid #f5f6fb;
    width: 186px;
    height: 44px;
  }
}

/* ======================== DESKTOP===================================== */
@media screen and (min-width: 1280px) {
}
