.container {
  margin-top: 60px;
  padding: 0 20px;
}
.table {
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}
.desc {
  padding-top: 8px;
  padding-bottom: 5px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #52555f;
}
.amount {
  padding: 8px 0;
  text-align: right;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.04em;
  vertical-align: super;
}
.red {
  color: #e7192e;
}
.green {
  color: #407946;
}

.trUnderline {
  border-bottom: 1px solid #f5f6fb;
}
.tdPadding {
  padding-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 8px;
  letter-spacing: 0.04em;
  color: #52555f;
}
.deleteButton {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin-left: 20px;
  background-color: transparent;
  vertical-align: sub;
}
.deleteButton:hover {
  background-color: #f5f6fb;
}
.iconDelete {
  width: 18px;
  height: 18px;
}
