/* ======================== MOBILE ===================================== */
.mobileBox {
  width: 100%;
  height: 100%;
  margin: auto;
}

.form {
  margin: auto;
}

.inputBox {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  height: 100%;
}

.list {
  margin: auto;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.listItem {
  text-indent: 20px;
}

.productDescription {
  border: 2px solid #f5f6fb;
  border-radius: 16px 0 0 0;
  width: 87.5%;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  text-align: left;
  text-indent: 20px;
}
.productCategory {
  border: 2px solid #f5f6fb;
  width: 87.5%;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  appearance: none;
  background-image: url('../../../assets/arrow.svg');
  background-repeat: no-repeat;
  background-position: 300px 15px;
  text-align: left;
  text-indent: 20px;
}

.productValue {
  border: 2px solid #f5f6fb;
  display: flex;
  margin: auto;
  margin-top: 32px;

  border-radius: 16px 16px 16px 16px;
  width: 183px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-align: center;
  color: black;
  /* background-color: var(--light-grey); */
  background-image: url('../../../assets/calculator.svg');
  background-repeat: no-repeat;
  background-position: 140px 10px;
}

.inputButtonBox {
  width: 100%;
  display: flex;
  position: absolute;
  top: 389px;

  justify-content: center;
}

.submitButton {
  display: block;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: #ff751d;
  margin-right: 15px;
}

.clearButton {
  display: block;
  border-radius: 16px;
  width: 125px;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #52555f;
  border: 2px solid #f6f7fc;
  border-radius: 16px;
  width: 125px;
  height: 44px;
}

.categoryOption {
  text-indent: 20px;
}

/* ======================== TABLET ===================================== */
@media screen and (min-width: 768px) {
  .form {
    margin: auto;
    padding-top: 24px;
  }

  .inputBox {
    display: flex;
    margin: auto;
    align-items: center;
    width: 624px;
    height: 44px;
  }

  .list {
    display: initial;
  }

  .listItem {
    display: inline;
    text-indent: 20px;
  }

  .productDescription {
    display: initial;
    border: 2px solid #f5f6fb;
    border-radius: 16px 0 0 0;
    width: 186px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
    text-align: left;
    text-indent: 20px;
  }
  .productCategory {
    display: initial;
    border: 2px solid #f5f6fb;
    width: 186px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
    appearance: none;
    background-image: url('../../../assets/arrow.svg');
    background-repeat: no-repeat;
    background-position: 156px 15px;
    text-align: left;
    text-indent: 20px;
  }

  .productValue {
    display: initial;
    border: 2px solid #f5f6fb;
    border-radius: 0 16px 16px 0;
    width: 110px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #c7ccdc;
    background-image: url('../../../assets/calculator.svg');
    background-repeat: no-repeat;
    background-position: 70px 10px;
  }

  .inputButtonBox {
    display: flex;
    margin-top: 32px;
    justify-content: center;
  }

  .submitButton {
    display: block;
    border-radius: 16px;
    width: 125px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background: #ff751d;
    margin-right: 15px;
  }

  .clearButton {
    display: block;
    border-radius: 16px;
    width: 125px;
    height: 44px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #52555f;
    border: 2px solid #f6f7fc;
    border-radius: 16px;
    width: 125px;
    height: 44px;
  }

  .categoryOption {
    text-indent: 20px;
  }
}

/* ======================== DESKTOP===================================== */
@media screen and (min-width: 1280px) {
  .form {
    display: flex;
    margin: auto;
    padding-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .inputButtonBox {
    margin-top: 0px;
  }

  .clearButton {
    width: 136px;
  }

  .submitButton {
    width: 136px;
  }

  .inputBox {
    width: 794px;
    margin: auto;
  }

  .productDescription {
    width: 290px;
  }

  .productCategory {
    width: 169px;
  }

  .productValue {
    width: 119px;
    background-position: 80px 10px;
  }

  .list {
    padding-left: 32px;
    display: initial;
  }
}
