/* ======================== MOBILE ===================================== */
.linkButton {
  all: unset;
  display: block;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

.linkWrapper {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: flex-start;
  justify-items: center;
  position: fixed;
  bottom: 0;
}

.linkBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 53px;
  color: black;
  background-color: rgba(245, 246, 251, 1);
}

.expenses {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 53px;
  color: #fff;
  background-color: #ff751d;
}

/* ======================== TABLET ===================================== */
@media screen and (min-width: 768px) {
  .linkWrapper {
    display: flex;
    width: 704px;
    margin: auto;
    justify-content: flex-start;
    justify-items: center;
    position: relative;
  }

  .linkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 40px;
    background-color: rgba(250, 251, 253, 1);
    border-radius: 16px 16px 0px 0px;
  }

  .expenses {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 40px;
    border-radius: 16px 16px 0px 0px;
    color: #ff751d;
    background-color: rgba(254, 254, 254, 1);
  }
}

/* ======================== DESKTOP===================================== */
@media screen and (min-width: 1280px) {
  .linkWrapper {
    width: 85%;
  }
}
