.mainBarContainer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  color: var(--grey-mid);
}

/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .mainBarContainer {
    justify-content: space-between;
    flex-direction: row;
    padding: 40px 32px;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
  }
  .subContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 466px;
  }
}
/* =========================== DESKTOP 👇 ============================== */
@media screen and (min-width: 1280px) {
  .mainBarContainer {
    max-width: 1024px;
    padding: 40px 0 0 0;
    margin: 0 auto;
  }
}
