.mainBarContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  color: var(--grey-mid);
  margin: 16px auto;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 32px;
  margin-top: 16px;
}

/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .mainBarContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    width: 704px;
  }
  .subContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 466px;
  }
}
/* =========================== DESKTOP 👇 ============================== */
@media screen and (min-width: 1280px) {
  .mainBarContainer {
    width: 1034px;
  }
  .subContainer {
    width: 684px;
  }
}
