.currentPeriodContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 39px;
}

.arrowButton {
  width: 6px;
  height: 15px;
  all: unset;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.arrowIcon {
  width: 6px;
  height: 15px;
  fill: var(--orange);
}

.currentPeriod {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 150px;
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .currentPeriodContainer {
    order: 1;
  }
}
