.layoutBackground {
  width: 100%;
  max-width: 1280px;
  height: 290px;
  background-color: var(--light-grey);
  border-bottom-left-radius: 116px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}

.loginContainer {
  position: absolute;
  top: 199px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
}

.iconLogo2 {
  width: 183px;
  height: 63px;
  position: absolute;
  top: 86px;
  left: 50%;
  transform: translateX(-140px);
  z-index: 550;
}

.kapusta1Container {
  overflow: hidden;
  width: calc(50% - 111px);
  max-width: 83px;
  height: 86px;
  position: absolute;
  top: 104px;
  left: 50%;
  transform: translateX(111px);
}
.kapusta2Container {
  overflow: hidden;
  width: 83px;
  height: 86px;
  position: absolute;
  top: 711px;
  left: 50%;
  transform: translateX(-125px);
}

.iconSingleKapusta {
  width: 83px;
  height: 86px;
}

.iconBigKapusta,
.kapustaSmallContainer {
  display: none;
}

.kapustaSmallContainerPrivate,
.kapustaBigContainerPrivate,
.iconBigKapustaPrivate {
  display: none;
}

.modalLoader {
  border-radius: 30px;
  box-shadow: 5px 10px 20px 0 rgba(170, 178, 197, 0.4);
  width: 280px;
  height: 496px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: white;
  z-index: 900;
}
/* =============================== TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .modalLoader {
    width: 426px;
    height: 552px;
  }
  .layoutBackground {
    height: 583px;
  }

  .loginContainer {
    position: absolute;
    top: 261px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 600;
  }

  .iconLogo2 {
    width: 306px;
    height: 101px;
    top: 80px;
    left: 50%;
    transform: translateX(-213px);
    z-index: 150;
  }

  .iconSingleKapusta {
    display: none;
  }

  .iconBigKapusta {
    display: flex;
    width: 1334px;
    height: 232px;
    flex-shrink: 0;
    transform-origin: 0px 0px;
  }

  .kapustaBigContainer {
    display: flex;
    justify-content: left;
    overflow: hidden;
    width: 100%;
    max-width: 1270px;
    height: 232px;
    position: absolute;
    top: 28px;
    left: 10px;
    z-index: 100;
    margin: 0;
    padding: 0;
  }

  .kapustaSmallContainer {
    display: block;
    overflow: hidden;
    width: 183px;
    height: 142px;
    position: absolute;
    top: 770px;
    left: 50%;
    transform: translateX(-281px);
    z-index: 100;
  }

  .kapustaSmallContainerPrivate {
    display: block;
    overflow: hidden;
    width: 183px;
    height: 216px;
    position: absolute;
    top: 1090px;
    left: 50%;
    transform: translateX(113px);
    z-index: 100;
  }

  .iconSmallKapusta {
    width: 183px;
    height: 142px;
    z-index: 99;
  }
}
/* =========================== DESKTOP 👇 ============================== */
@media screen and (min-width: 1280px) {
  .iconLogo2 {
    width: 377px;
    height: 139px;
    top: 308px;
    left: 50%;
    transform: translateX(-411px);
  }
  .loginContainer {
    position: absolute;
    top: 117px;
    left: 50%;
    transform: translateX(91px);
  }

  .kapustaSmallContainer {
    top: 602px;
    transform: translateX(-410px);
  }
  .kapustaSmallContainerPrivate {
    display: none;
  }

  .kapustaBigContainerPrivate {
    display: flex;
    justify-content: left;
    overflow: hidden;
    width: 100%;
    max-width: 1270px;
    height: 232px;
    position: absolute;
    top: 680px;
    left: 10px;
    z-index: -1;
    margin: 0;
    padding: 0;
  }

  .iconBigKapusta {
    flex-shrink: initial;
  }
  .iconBigKapustaPrivate {
    display: initial;
    width: 1334px;
    height: 232px;
  }
}
