/* ======================== MOBILE ===================================== */
.calendarBox {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
}
.customButtonCalendar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: transparent;
  border-radius: 16px;
}
.customButtonCalendar:hover {
  background-color: rgba(82, 85, 95, 0.3);
}
.calendarIcon {
  width: 24px;
  height: 24px;
}

/* ======================== TABLET ===================================== */

@media screen and (min-width: 768px) {
  .calendarBox {
    background-color: white;
    margin-top: 0;
    margin-left: 32px;
    display: inline-block;
    padding: 24px 40px;
  }
}
