.returnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 100px;
  height: 44px;
}

.arrowButton {
  width: 18px;
  height: 10px;
  align-content: center;
  all: unset;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-140px);
  margin-top: 16px;
}

.arrowIcon {
  width: 18px;
  height: 10px;
  fill: #ff751d;
}
.mobileHidden {
  display: none;
}

/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .arrowButton {
    position: relative;
    left: auto;
    transform: none;
    margin: auto;
  }

  .mobileHidden {
    display: flex;
    margin-left: 15px;
    text-decoration: none;
    color: var(--grey-lighter);
  }
}
