/* ======================== MOBILE ===================================== */
.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description {
  width: 280px;
  height: 44px;
  padding: 0 20px;
  border: 2px solid #fff;
  border-radius: 22px 22px 0 0;
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: black;
}
.description::placeholder {
  color: #c7ccdc;
}
.categoryLoading {
  color: #aaaaaa;
}

.amountWrapper {
  width: 183px;
  margin-top: 32px;
  display: flex;
}
.amount {
  padding: 0px 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 22px 0 0 22px;
  width: 125px;
  height: 44px;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  color: #000;
  text-overflow: ellipsis;
}
.calculatorWrapper {
  margin-left: -2px;
  display: grid;
  place-items: center;
  border: 2px solid #fff;
  border-radius: 0 22px 22px 0;
  width: 60px;
  height: 44px;
}
.calculatorSVG {
  width: 20px;
  height: 20px;
}
.buttonsWrapper {
  display: flex;
  margin-top: 80px;
  gap: 20px;
}
.submit {
  border-radius: 16px;
  width: 130px;
  height: 44px;
  background-color: var(--orange);
  box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.submit:hover {
  background-color: rgba(234, 98, 13, 0.898);
  box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
}
.clear {
  border-radius: 16px;
  width: 130px;
  height: 44px;
  box-shadow: 1px 2px 5px 0 rgba(170, 178, 197, 0.4);
  background: #f5f6fb;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #52555f;
}
.clear:hover {
  background-color: rgb(234, 234, 234);
}
/* ======================== TABLET ===================================== */

@media screen and (min-width: 768px) {
  .form {
    display: inline-flex;
    width: 70%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 24px;
  }
  .description {
    width: 40%;
    border-color: #f5f6fb;
    border-radius: 16px 0 0 0;
  }

  .amountWrapper {
    width: initial;
    margin-top: 0;
    margin-left: -2px;
  }
  .amount {
    width: 50px;
    border-radius: 0;
    border-right: 0;
    border-color: var(--light-grey);
    padding: 0 0 0 10px;
  }
  .calculatorWrapper {
    width: 46px;
    border-color: var(--light-grey);
    border-radius: 0 16px 16px 0;
    border-left: 0;
  }
  .buttonsWrapper {
    margin-top: 32px;
  }
  .clear {
    background-color: transparent;
    border: 2px solid var(--light-grey);
  }
  .clear:hover {
    background-color: var(--light-grey);
  }
}
/* ======================== DESKTOP===================================== */
@media screen and (min-width: 1280px) {
  .form {
    width: 100%;
    padding: 0;
  }
  .description {
    width: 34%;
  }
  .buttonsWrapper {
    margin: 0 32px;
  }
}
