:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Montserrat', sans-serif;
}
.loginDiv {
  border-radius: 30px;
  fill: #fff;
  box-shadow: 5px 10px 20px 0 rgba(170, 178, 197, 0.4);
  width: 280px;
  height: 496px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 0;
  background-color: white;
  z-index: 900;
}

.loginParagraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #52555f;
  padding-left: 20px;
  padding-right: 22px;
  text-align: center;
}

.loginFormDiv {
  margin-bottom: 16px;
}

.loginLabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.04em;
  color: #000;
  padding-left: 20px;
  padding-right: 18px;
}

.loginInput {
  border-radius: 30px;
  width: 240px;
  height: 52px;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  background: #f6f7fb;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  padding: 19px;
}

.registerButtonForm {
  border-radius: 16px;
  width: 116px;
  height: 44px;
  background: #f5f6fb;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: #52555f;
}

.loginInput:focus {
  border: 2px solid #ff751d;
}

.active {
  background-color: #ff751d;
  color: #fff;
  box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
}

.registerButtonForm:hover {
  background: #ff751d;
  box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
  color: #fff;
}
.registerButtonForm:focus {
  background: #ff751d;
  box-shadow: 1px 3px 5px 0 rgba(255, 107, 8, 0.35);
  color: #fff;
}

.buttonContainer {
  display: flex;
  margin: 0px 20px;
  gap: 8px;
}

.inputError {
  border: 2px solid red;
}

.errorText {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  padding: 0 20px;
}

.errorAsterisk {
  color: red;
  margin-right: 4px;
}
/* ================================================= TABLET 👇 ========================================= */
@media screen and (min-width: 768px) {
  .loginDiv {
    width: 426px;
    height: 552px;
    z-index: 900;
  }

  .loginFormDiv {
    display: flex;
    flex-direction: column;
    margin: 0 84px;
    z-index: 900;
  }
  .loginParagraph {
    margin-bottom: 20px;
  }

  .loginLabel {
    font-size: 12px;
    margin-top: 20px;
  }

  .loginInput {
    width: 258px;
    height: 52px;
  }

  .buttonContainer {
    margin: 40px 84px;
    gap: 15px;
    display: flex;
    justify-content: center;
  }

  .registerButtonForm {
    width: 122px;
    height: 44px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.02em;
  }
}

/* ================== DESKTOP 👇 ===================== */
@media screen and (min-width: 1280px) {
  .loginDiv {
    width: 426px;
    height: 552px;
    /* top: 50%;
    right: 91px;
    transform: translateY(-50%); */
    margin: 0;
    left: auto;
    z-index: 900;
  }
}
