@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --light-grey: rgba(245, 246, 251, 1);
  --orange: rgba(255, 117, 29, 1);
  --orange-light: rgba(255, 117, 29, 0.2);
  --red: rgba(231, 25, 46, 1);
  --green: rgb(64, 121, 70);
  --grey: #52555f;
  --grey-mid: rgba(82, 85, 95, 0.7);
  --icon-navy: rgb(7, 31, 65, 1);
  --icon-orange-light: #ffdac0;
  --chart-orange-light: #fed9bf;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
input {
  border: none;
}
input:focus,
button:focus-visible {
  outline: none;
}
